---
const SERVICIOS = [
	{
		icono: "ruta a icono",
		titulo: "Sitios Web Corporativos",
		desc: "Sitios web profesionales y atractivos. Diseñados para reflejar la esencia de cada marca, captar la atención de su audiencia y convertirla en clientes potenciales."
	},
	{
		icono: "ruta a icono",
		titulo: "Funnels de conversión",
		desc: "Transforma visitas a Compradores! Diseñamos Funnels para atraer, enganchar y convertir visitantes en clientes potenciales y compradores de alta calidad."
	},
	{
		icono: "ruta a icono",
		titulo: "Desarrollo web a medida",
		desc: "Desde storefronts de Shopify y temas de WordPress únicos, hasta aplicaciones web 100% personalizadas. Adaptamos cada proyecto a las necesidades específicas de tus clientes, garantizando resultados excepcionales y satisfacción total."
	},
	{
		icono: "ruta a icono",
		titulo: "Landing Pages",
		desc: "Captura leads de alta calidad para tus clientes con diseños que convierten y desarollo de ultima tecnología. ¡Siempre optimizando la velocidad de carga y UX de la Landing Page!"
	},
	{
		icono: "ruta a icono",
		titulo: "Soporte Técnico",
		desc: "Garantiza tranquilidad a tus clientes con nuestro soporte técnico. Resolución rápida de problemas y mantenimiento continuo para que tus desarollos siempre estén en su mejor forma."
	},
]
---

<div class="mt-[60px] flex justify-center flex-wrap gap-y-[16px] gap-x-[14px]">
	{
		SERVICIOS.map((servicio) => (
			<div class="service-card relative min-w-[300px] w-[calc(33%-10px)]">
				<div class="service-card-bg bg-[#151718] absolute -top-[2px] -bottom-[6px] -right-[2px] -left-[2px] rounded-[11px]"></div>
				<div class="relative bg-[#F5F5F5] p-[24px] rounded-[10px] h-full">
					<h3 class="text-[24px] mb-[10px]">{servicio.titulo}</h3>
					<p class="text-[18px] text-[#222]/80">{servicio.desc}</p>
				</div>
			</div>
		))
	}
</div>

<style>
	.service-card-bg::before {
		content: "";
		position: absolute;
		top: 0;
		background: linear-gradient(to bottom, hsla(0, 0.00%, 8.63%, 0.00), #6248ff 33%, #6248ff 68%, hsla(0, 0.00%, 8.63%, 0.00));
		width: 100%;
		height: 60px;
		transition: top .8s linear;
		mix-blend-mode: lighten;
		opacity: 0;
	}
	.service-card:hover .service-card-bg::before {
		top: calc(100% - 60px);
		opacity: 100%;
	}
</style>