---
const { title } = Astro.props;
import "@fontsource-variable/onest";
---

<!doctype html>
<html lang="en" class="bg-gray-100">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Desarrollo web de calidad para agencias digitales" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	* {
		font-family: 'Onest Variable', sans-serif;
	}

	/* Basics */
	html {
		scroll-behavior: smooth;
	}
	.font-roboto {
		font-family: "Roboto Mono Variable", monospace !important;
	}
	.text-gradient {
		background: linear-gradient(238deg, #6248ff 7.85%, #2f2a5e 91.08%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.secondary-text-gradient {
		background: linear-gradient(238deg, #ff7448 7.85%, #ff4848 91.08%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.terciary-text-gradient {
		background: linear-gradient(58deg, #b94cdb, #fe815e);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 180%;
		background-position: left bottom;
		animation: gradiantAnimation 4s infinite alternate;
	}
	@keyframes gradiantAnimation {
		to {
			background-position: right top;
		}
	}
	.hide-scroll {
		-ms-overflow-style: none; /* Internet Explorer 10+ */
		scrollbar-width: none; /* Firefox */
	}
	.hide-scroll::-webkit-scrollbar {
		display: none; /* Safari and Chrome */
	}
	.tcp-btn {
		@apply block w-fit bg-[#222] px-[24px] py-[8px] text-[#F5F5F5] rounded-[10px] font-semibold border-[3px] border-[#222] hover:shadow-lg transition-all duration-[.2s] hover:cursor-pointer lg:text-[16px];
	}
	.tcp-btn.--secondary {
		@apply bg-gray-200 text-[#222] border-transparent hover:shadow-lg;
	}

	/* Cursor follower */
	#follower {
		width: 30px;
		height: 30px;
		background-color: #ffffff;
		border-radius: 50%;
		position: absolute;
		pointer-events: none;
		transition: transform 0.1s ease;
		filter: blur(60px);
	}

	/* Hero */
	.hero-development {
		opacity: 1;
		transition: opacity 0.2s linear;
	}
	.developments-list:hover .hero-development {
		opacity: 0.3;
	}
	.hero-development:hover {
		opacity: 100 !important;
	}

	/* Nosotros */
	.card-bg {
		background: linear-gradient(
			135deg,
			rgba(250, 250, 250, 0.22),
			rgba(223, 239, 254, 0.08),
			rgba(250, 250, 250, 0.22)
		);
		background-size: 150%;
		transition: all 0.2s linear;
	}
	.card:hover .card-bg {
		background-position: 100% 50%;
	}
	.cross-out {
		position: relative;
		transition: opacity 0.45s linear;
		transition-delay: 0.8s;
	}
	.cross-out::before {
		content: "";
		position: absolute;
		top: calc(50% - 2px);
		left: -2px;
		height: 4px;
		width: 0;
		background-color: #f5f5f5;
		transition: all 0.4s ease-in;
		transition-delay: 0.8s;
		border-radius: 10px;
	}
	.card .cross-out.--animated::before {
		width: calc(100% + 4px);
	}
	.card .cross-out.--animated {
		opacity: 50%;
	}
	.clean-code {
		background-color: #202425;
		background-image: linear-gradient(180deg, #3549fc00, #7f8cff0d);
	}
	.proyects-time {
		position: absolute;
		padding: 30px;
		width: 90%;
		left: 5%;
		bottom: -1px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 1;
		background-image: radial-gradient(
			circle farthest-side at 50% 100%,
			rgba(91, 136, 204, 0.2),
			rgba(91, 136, 204, 0)
		);
	}
	.proyects-time::before {
		content: "";
		position: absolute;
		left: 0;
		top: 2px;
		right: 0;
		bottom: auto;
		width: 100%;
		height: 1px;
		background-image: linear-gradient(
			90deg,
			hsla(0, 0%, 100%, 0),
			hsla(0, 0%, 100%, 0.1) 50%,
			hsla(0, 0%, 100%, 0)
		);
	}
	.proyects-time-appear.--animated {
		@apply opacity-100 mb-[15px];
	}
</style>